
html, body {
    height: 100%;
  }
.full-height {
    height: 100%;
  }

body{
    background: #fefefe;
    font-family: Arial;
    color: #000000;
    min-height: 100%;
}

#to-do-list-div{
    position: relative;
    width: 95%;
    background: #dddddd;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#to-do-list-div form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#f5f4f4;
    border: 0;
    float: left;
    font-size: 20px;
    color: #0b0b0b;
}

input[type="submit"]{
    padding: 20px;
    width: 25%;
    float: left;
    background: #a4a2a2;
    border: 0;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}
